@model IEnumerable<Tournament>
@{
    ViewData["Title"] = "TournamentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tournament Page</h1>

@if (Model.Count() > 0)
{
    <table id="tournament_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Period</th>
                <th>Clubs</th>
                <th>Ticket</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tournament t in Model)
            {
                <tr>
                    <td>@t.TournamentID</td>
                    <td>@t.Name</td>
                    <td style="width:100px;">@t.From.ToString("yyyy-MM-dd") ~ @t.To.ToString("yyyy-MM-dd")</td>
                    <td>@t.ClubCount</td>
                    <td>@t.Price.ToString("c")</td>
                    <td class="text-center">
                        <a asp-action="TournamentDetails" class="btn btn-sm btn-warning" asp-route-tournamentID="@t.TournamentID">Details</a>
                        <input type="hidden" name="TournamentID" value="@t.TournamentID" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Admins"))
{
    <a asp-action="AddTournament" id="btn_middle" class="btn btn-sm btn-warning">Add Tournament</a>
}